<!DOCTYPE html>
<html>
  <head>
    <title>Hello!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/style2.css">
    <script src="/script.js" defer></script>
  </head>
  <body>
    <div style="text-align: center">
    <h1 style="font-size: 45px">The Foundation Music Center</h1>
    </div>
    <div style="text-align: right; text-color: blue; font-size: 25px">
      <a href="index.html">Sign Out</a><br>
    </div>
    
      <div class = "params">
    </div>
    <br>
      <a href="/lessons/new">New Lesson</a><br><br><br>
      <a href="/lessons">View Calendar</a><br><br><br>
      <a href="/lessons/view">View Lessons</a>
  </body>
</html>
