<!DOCTYPE html>
<html>
  <head>
    <h1>Login</h1>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/style2.css">
    <script src="/script.js" defer></script>
  </head>
  <body>
    <div class = "params">
    <form action="homepage.html">
  Username: <input type="text" name="uName"><br>
  Password: <input type="password" name="pWord"><br>
  <input type="submit" value="Login">
</form>
      <!-- check to see if valid-->
    </div>
    <br>
  
  </body>
</html>