<!DOCTYPE html>
<html>
  <head>
    <title>TMF</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <style>
      
    </style>  
  </head>

  <body>    

    <h1> View Lessons  
    </h1> 
    <a href="/"> home </a>
    <h2>
        
    </h2>
	<p th:text="|Id: ${lesson.id}|" />
	<p th:text="|Teacher: ${lesson.teacher.userName}|" />
	<p th:text="|Date: ${lesson.stringDate}|" />
	<p th:text="|Duration: ${lesson.duration}|" />
	<p th:text="|Room: ${lesson.room.name}|" />
	<p th:text="|Students: ${lesson.numStudents}|" />
	<p th:text="|Type: ${lesson.type}|" />
  </body>
</html>